footer.bdT.ta-c.p-30.lh-0.fsz-sm.c-grey-600
    span
    | Macrotec Copyright © 2019. Todos los derechos reservados. Dessarrollado por 
    a(href='https://businet-web.com', target='_blank', title='Businet') Businet