.sidebar
  .sidebar-inner
    // ### $Sidebar Header ###
    .sidebar-logo
      .peers.ai-c.fxw-nw
        .peer.peer-greed
          a.sidebar-link.td-n(href='index.html')
            .peers.ai-c.fxw-nw
              .peer
                .logo
                  img(src='/assets/static/images/logo.png', alt='')
              .peer.peer-greed
                h5.lh-1.mB-0.logo-text Macrotec
        .peer
          .mobile-toggle.sidebar-toggle
            a.td-n(href='')
              i.ti-arrow-circle-left
    // ### $Sidebar Menu ###
    ul.sidebar-menu.scrollable.pos-r
      li.nav-item.mT-30.active
        a.sidebar-link(href='/home')
          span.icon-holder
            i.c-blue-500.ti-home
          span.title Dashboard
      li.nav-item.dropdown
        a.dropdown-toggle(href='javascript:void(0);')
          span.icon-holder
            i.c-orange-500.ti-tag
          span.title Administración
          span.arrow
            i.ti-angle-right
        ul.dropdown-menu
          li
            a.sidebar-link(href='basic-table.html') Softwares Autodesk
          li
            a.sidebar-link(href='datatable.html') Cursos
          li
            a.sidebar-link(href='datatable.html') Examenes
      li.nav-item.dropdown
        a.dropdown-toggle(href='javascript:void(0);')
          span.icon-holder
            i.c-blue-500.ti-user
          span.title Usuarios
          span.arrow
            i.ti-angle-right
        ul.dropdown-menu
          li
            a.sidebar-link(href='basic-table.html') Todos los usuarios
          li
            a.sidebar-link(href='datatable.html') Agregar usuarios
      li.nav-item
        a.sidebar-link(href='compose.html')
          span.icon-holder
            i.c-green-500.ti-calendar
          span.title Calendario
      li.nav-item
        a.sidebar-link(href='calendar.html')
          span.icon-holder
            i.c-deep-orange-500.ti-bell
          span.title Notificaciones
      li.nav-item.dropdown
        a.dropdown-toggle(href='javascript:void(0);')
          span.icon-holder
            i.c-green-500.ti-money
          span.title Ventas
          span.arrow
            i.ti-angle-right
        ul.dropdown-menu
          li
            a.sidebar-link(href='basic-table.html') Todos los usuarios
          li
            a.sidebar-link(href='datatable.html') Agregar usuarios
      