extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Gestión de Softwares Autodesk
                        .row
                            .col-md-12
                                .bgc-white.bd.bdrs-3.p-20.mB-20.position-relative
                                    h4.c-grey-900.mB-20 Agregar nuevo software:
                                    form
                                        .row 
                                            .col-12.col-md-3.mb-3  
                                                .form-group
                                                    input.form-control(type="text" placeholder="Nombre del Software" name="nombre_sofware")
                                            .col-12.col-md-3.mb-3 
                                                .form-group 
                                                    select.form-control(name="nombre_software")
                                                        option(value="" disabled selected) Modalidad
                                            .col-12.col-md-3.mb-3  
                                                .form-group
                                                    input(type="submit" value="Crear" class="btn btn-primary" name="nombre_sofware")
                                    .tablaEditable
                                        table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                                            thead
                                                tr
                                                    th Nombre del Software
                                                    th Modalidad
                                                    th 
                                            tfoot
                                                tr
                                                    th Nombre del Software
                                                    th Modalidad
                                                    th 
                                            tbody
                                                tr
                                                    td Autocad 2D&3D Complete
                                                    td Presencial
                                                    td.text-right
                                                        a.editar
                                                            i.c-orange-500.ti-pencil.mr-2
                                                        a.editar
                                                            i.c-red-500.ti-close
                                                tr
                                                    td Autocad 2D
                                                    td Presencial
                                                    td.text-right
                                                        a.editar
                                                            i.c-orange-500.ti-pencil.mr-2
                                                        a.editar
                                                            i.c-red-500.ti-close
                                                tr
                                                    td Autocad 3D
                                                    td Online
                                                    td.text-right
                                                        a.editar
                                                            i.c-orange-500.ti-pencil.mr-2
                                                        a.editar
                                                            i.c-red-500.ti-close
                                                
    include ../footer 